<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
		<!-- Removes ASP.NET version header. -->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" />
			<!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
		</security>
	</system.webServer>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="bin\Debug\net8.0\API.WebApi.exe" stdoutLogEnabled="false" hostingModel="InProcess" arguments="">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="local" />
					<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
					<environmentVariable name="COMPLUS_ForceENC" value="1" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>